flow/weather-demo.json
[{"id":"d4077681.2bc6d8","type":"function","z":"1fc47902.48fcf7","name":"same Id check","func":"var payload = JSON.parse(msg.payload);  // for MQTT\n//console.log(\"payload type: \"+typeof(payload ));        //JSON Object\n//console.log(\"msg.payload type: \"+typeof(msg.payload));//Message string\n\nif(!context.global.Ids){\n    context.global.Ids = {};\n}\n\n//Get element\nvar mId   = payload.id;\nvar mData = payload.data;\nvar mType = mData.substring(0,4);\nvar mRecv = payload.recv;\nvar mMac  = payload.macAddr;\n\n\nif(mType === 'aa01' || mType === 'aa02'){\n    var id = '';\n\n    if(context.global.Ids[mType]){\n        id = context.global.Ids[mType];\n    }\n    \n    node.warn('id :'+mId +' , check id :'+id);\n    \n    //Find same id than reject\n    if(id === '' || mId != id){\n        context.global.Ids[mType] = id;\n    }else{\n        return;\n    }\n    \n    msg.payload = {mac:mMac,data:mData,recv:mRecv,type:mType};\n    node.warn(JSON.stringify(msg.payload));\n    \n    return msg;\n}else{\n    return;\n}\n\n\n","outputs":1,"noerr":0,"x":124.85713195800781,"y":173.99999237060547,"wires":[["d227edd5.c383f","c6fd380b.9b25e8"]]},{"id":"44e66745.f1ac18","type":"mqtt in","z":"1fc47902.48fcf7","name":"MQTT_200000166","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"fa4e14fd.b668f8","x":112.85713195800781,"y":74.99999237060547,"wires":[["d4077681.2bc6d8"]]},{"id":"39f9949d.279bac","type":"function","z":"1fc47902.48fcf7","name":"tempature","func":"\nmsg= {payload:msg.payload.information.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":819.8571014404297,"y":346.0000228881836,"wires":[["c1ef84bc.f541b8","6e478a64.9c7e74"]]},{"id":"c1ef84bc.f541b8","type":"ui_gauge","z":"1fc47902.48fcf7","name":"溫度表","group":"8c973d89.4ee29","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1028.8570404052734,"y":301.99999237060547,"wires":[]},{"id":"6e478a64.9c7e74","type":"ui_chart","z":"1fc47902.48fcf7","name":"線性圖","group":"8c973d89.4ee29","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"15","ymax":"35","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1024.8571014404297,"y":341.00000762939453,"wires":[[],[]]},{"id":"ebb5d38c.c55ec","type":"function","z":"1fc47902.48fcf7","name":"humidity","func":"\nmsg= {payload:msg.payload.information.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":819.8571319580078,"y":459.99999237060547,"wires":[["9ff96adc.1605f8","d28546b9.003338"]]},{"id":"d28546b9.003338","type":"ui_gauge","z":"1fc47902.48fcf7","name":"濕度表","group":"d06c3ab5.227008","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1026.8571014404297,"y":416.99999237060547,"wires":[]},{"id":"9ff96adc.1605f8","type":"ui_chart","z":"1fc47902.48fcf7","name":"濕度線性圖","group":"d06c3ab5.227008","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1038.8571319580078,"y":461.99999237060547,"wires":[[],[]]},{"id":"c6fd380b.9b25e8","type":"debug","z":"1fc47902.48fcf7","name":"","active":false,"console":"false","complete":"payload","x":369.8571014404297,"y":74.99999237060547,"wires":[]},{"id":"b643e24f.ddd4","type":"function","z":"1fc47902.48fcf7","name":"presure","func":"\nmsg= {payload:msg.payload.information.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":820.7528839111328,"y":134.22220611572266,"wires":[["f1f7fae0.76b868","6ceebf34.76b38"]]},{"id":"bb09d7a8.aeb9f8","type":"function","z":"1fc47902.48fcf7","name":"light","func":"\nmsg= {payload:msg.payload.information.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":815.7528839111328,"y":254.2221908569336,"wires":[["f3c7c8d6.3fbd18","e10988b4.e09948"]]},{"id":"a8729739.e1c6e8","type":"function","z":"1fc47902.48fcf7","name":"uv","func":"\nmsg= {payload:msg.payload.information.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":818.1814785003662,"y":588.222246170044,"wires":[["73d67886.2fe638","2ba8a036.ff367"]]},{"id":"6508b1cf.28cc6","type":"function","z":"1fc47902.48fcf7","name":"rain","func":"\nmsg= {payload:msg.payload.information.rain};\n\nreturn msg;","outputs":"1","noerr":0,"x":816.6100120544434,"y":721.2221813201904,"wires":[["b0b3c2b.704494","d6e9a1f8.0d78e"]]},{"id":"d227edd5.c383f","type":"switch","z":"1fc47902.48fcf7","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"aa01","vt":"str"},{"t":"eq","v":"aa02","vt":"str"}],"checkall":"true","outputs":2,"x":176.6071319580078,"y":498.15624237060547,"wires":[["448de0c8.dead8"],["a879a2b1.141f7"]]},{"id":"448de0c8.dead8","type":"function","z":"1fc47902.48fcf7","name":"aa01 parse","func":"\n\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa01 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 22)  {\n      throw Error('Not a aa01 data');\n    }\n    var mPressure = parseInt(raw.substring(6,10),16);       //氣壓\n    var mHight = parseInt(raw.substring(10,14),16);    　   //高度\n    var mTemperature = parseInt(raw.substring(14,16),16);   //溫度\n    var mHumidity = parseInt(raw.substring(16,18),16);      //濕度\n    var mLight = parseInt(raw.substring(18,22),16);         //照明  \n\n    var ret = {\n        pressure    : mPressure,\n        temperature : mTemperature,\n        humidity    : mHumidity,\n        light       : mLight\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":346.6149444580078,"y":352.38280487060547,"wires":[["b643e24f.ddd4","bb09d7a8.aeb9f8","39f9949d.279bac","ebb5d38c.c55ec"]]},{"id":"a879a2b1.141f7","type":"function","z":"1fc47902.48fcf7","name":"aa02 parse","func":"\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa02 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 14)  {\n      throw Error('Not a aa02 data');\n    }\n\n    var mUV = parseInt(raw.substring(6,10),16);            //紫外線\n    var mRain = parseInt(raw.substring(10,14),16);         //雨滴\n\n    var ret = {\n        uv    : mUV,\n        rain  : mRain\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":352.22211837768555,"y":593.9519910812378,"wires":[["a8729739.e1c6e8","6508b1cf.28cc6"]]},{"id":"f1f7fae0.76b868","type":"ui_gauge","z":"1fc47902.48fcf7","name":"壓力表","group":"607d9824.ddbc78","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1032.3649444580078,"y":97.52342987060547,"wires":[]},{"id":"6ceebf34.76b38","type":"ui_chart","z":"1fc47902.48fcf7","name":"線性圖","group":"607d9824.ddbc78","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1028.365005493164,"y":136.52344512939453,"wires":[[],[]]},{"id":"f3c7c8d6.3fbd18","type":"ui_gauge","z":"1fc47902.48fcf7","name":"照明表","group":"1214bb7f.7e2345","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":1030.365005493164,"y":212.52342987060547,"wires":[]},{"id":"e10988b4.e09948","type":"ui_chart","z":"1fc47902.48fcf7","name":"照明線性圖","group":"1214bb7f.7e2345","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1042.3650360107422,"y":257.52342987060547,"wires":[[],[]]},{"id":"73d67886.2fe638","type":"ui_gauge","z":"1fc47902.48fcf7","name":"UV表","group":"c37135f8.f805b8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1022.65771484375,"y":558.1110830307007,"wires":[]},{"id":"2ba8a036.ff367","type":"ui_chart","z":"1fc47902.48fcf7","name":"UV線性圖","group":"c37135f8.f805b8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1032.9434509277344,"y":621.3968048095703,"wires":[[],[]]},{"id":"b0b3c2b.704494","type":"ui_gauge","z":"1fc47902.48fcf7","name":"雨滴表","group":"3825b40e.94788c","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1022.0863189697266,"y":723.1110763549805,"wires":[]},{"id":"d6e9a1f8.0d78e","type":"ui_chart","z":"1fc47902.48fcf7","name":"雨滴線性圖","group":"3825b40e.94788c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1034.0863494873047,"y":768.1110763549805,"wires":[[],[]]},{"id":"fa4e14fd.b668f8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service9","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8c973d89.4ee29","type":"ui_group","z":"","name":"溫度","tab":"48c87cde.c5ae54","order":1,"disp":true,"width":"6"},{"id":"d06c3ab5.227008","type":"ui_group","z":"","name":"溼度","tab":"48c87cde.c5ae54","order":2,"disp":true,"width":"6"},{"id":"607d9824.ddbc78","type":"ui_group","z":"","name":"壓力","tab":"48c87cde.c5ae54","order":4,"disp":true,"width":"6"},{"id":"1214bb7f.7e2345","type":"ui_group","z":"","name":"照明","tab":"48c87cde.c5ae54","order":3,"disp":true,"width":"6"},{"id":"c37135f8.f805b8","type":"ui_group","z":"","name":"UV","tab":"48c87cde.c5ae54","order":5,"disp":true,"width":"6"},{"id":"3825b40e.94788c","type":"ui_group","z":"","name":"雨滴","tab":"48c87cde.c5ae54","order":6,"disp":true,"width":"6"},{"id":"48c87cde.c5ae54","type":"ui_tab","z":"","name":"微型氣象站","icon":"dashboard","order":1}]